// Font Family
$main-font: 'Jost', sans-serif;
$headding-font: 'Jost', sans-serif;



// Colors
$cl-black: #292929;
$cl-black-2: #263845;
$cl-white: #ffffff;
$cl-primary: #28df99;
$cl-blue: #003754;
$cl-blue-2: #022c43;
$cl-green: #86BC42;
$cl-mint: #17c0eb;
$cl-yellow: #ffd700;
$cl-yellow-2: #FFC38D;
$cl-violet: #7e30e4;
$cl-violet-2: #4e129c;
$cl-red: #ff5252;
$cl-gray: #eaeaea;




// Social Colors
$cl-facebook : #3B5999;
$cl-twitter : #55ACEE;
$cl-instagram : #F5214A;
$cl-youtube : #CD201F;
$cl-pinterest : #BD081C;
$cl-linkedin : #0077B5;

$facebook-bg : #3B5999;
$twitter-bg : #55ACEE;
$instagram-bg : #F5214A;
$youtube-bg : #CD201F;
$pinterest-bg : #BD081C;
$linkedin-bg : #0077B5;
$google-plus-bg : #DD5144;









