:root {
    --main-og: #e58e2f;
    --main-pink: #c031c0;
    --main-dark: #121e25;
    --main-white: white;
    --main-gradient: linear-gradient(45deg, #e08113 0%, #fa13e9 100%);
    --main-op-gradient: linear-gradient(45deg, #fa13e9 0%, #e08113 100%);
    --main-gradient-hol: linear-gradient(45deg, #e08013e7 0%, #fa13ebe7 100%);
  }
  

body {
    font-family: Arial, sans-serif;
    background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    color: white;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .button:hover {
    color: var(--main-pink);
  } 
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    z-index: 200;
    margin: 100px auto;
    padding: 20px;
    background: var(--main-dark);
    border-radius: 5px;
    border: 2px solid gray;
    width: 80%;
    min-height: 20%;
    position: relative;
    transition: all 0.1s ease-in-out;
    overflow-x: hidden;
  }

  .overlay-2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
  }
  
  .overlay-2:target {
    visibility: visible;
    opacity: 1;
  }
  
  
  .popup-2 {
    z-index: 200;
    margin: 100px auto;
    padding: 20px;
    background: var(--main-dark);
    border-radius: 5px;
    border: 2px solid gray;
    width: 80%;
    height: 80%;
    position: relative;
    transition: all 0.1s ease-in-out;
    /* overflow-x: hidden; */
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(190, 30, 30);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }


  .popup h2 {
    margin-top: 50px;
    color: white;
    /* font-family: Tahoma, Arial, sans-serif; */
  }
  
  .popup p {
    z-index: 200;
    margin-top: 40px;
    color: white;
    /* font-family: Tahoma, Arial, sans-serif; */
  }
  .popup ul {
    z-index: 200;
    margin-top: 40px;
    color: white;
    /* font-family: Tahoma, Arial, sans-serif; */
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  .popup .close:hover {
    color: var(--main-pink);
  }

  .popup-2 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  .popup-2 .close:hover {
    color: var(--main-pink);
  }
  .popup .content {
    max-height: 75%;
  }
  @media screen and (max-width: 1300px){
    .popup {
     
      overflow: scroll;
      overflow-y: scroll;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 90%;
    }
    .popup .popup-2{
      margin: 100px auto;
      width: 90%;
    }
  }